#HeroSection{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height:fit-content;
    background-color: #000;
    background-image: url(../../../public/assets/bg-lines.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    object-fit: cover;
    .objWrapperHero{
        position: absolute;
        top: 0;
        left:0;
        width: 100vw;
        height: 100vh;
        max-width:100%;
        overflow: hidden;
        >img{
            position: absolute;
        }
        >.introCube{
            left: 14.25rem;
            top: 4rem;
        }
        >.introStairs{
            right: 10rem;
            top: 4rem;

        }
        >.introCubes{
            left: 14rem;
            bottom: 5rem;
        }
        >.introPillar{
            right: 17rem;
            bottom: -4rem;
            width: 17.5rem;
        }
        @media (max-width:920px){
            .introCubes{
                left: 6rem;
            }
            .introCube{
                left: 6.25rem;
            }
            .introPillar{
                right: 5rem;
            }
            .introStairs{
                right: 3rem;
            }
        }
        @media (max-width:680px) {
            .introCubes{
                width: 25%;
            }
            .introCube{
                width: 15%;
            }
            .introPillar{
                width: 25%;
                bottom: 4rem;
            }
            .introStairs{
                width: 25%;
            }
        }
        @media (max-width:450px){
            .introCubes{
                left: 2rem;
                width: 30%;

            }
            .introCube{
                left: 2.25rem;
            }
            .introPillar{
                right: 2rem;
            }
            .introStairs{
                right: 0.5rem;
            }
        }
    }
}