.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-bottom: 6rem;


    ul{
        padding-top: 1rem;
        display: flex;
        color: white;
        list-style-type: none;
        gap: 1.25rem;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        line-height: 1.125rem; /* 150% */
        letter-spacing: 0.03125rem;
        font-size: 0.75rem;
    }
}