@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
.HeroFooter{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    bottom: 1rem;
    padding: 0 3.75rem;
    .downloadBtns{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.25rem;
    }
    .downArrow{
        // position: relative;
        margin-left: 15rem;
    }
    .policyText{
        font-family: 'Mulish', sans-serif;
        color: white;
        width: 22.6875rem;
        font-size: 0.625rem;
        font-weight: light;
        color: #B6B6B6;
        line-height: 0.8125rem;
    }
    .socialIcons{
        display: flex;
        align-items: center;
        gap: 1.875rem;
    }
}