.cashApp{
    font-size:9.5rem;
    color: white;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    img{
        position: absolute;
        height: 28rem;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    >p{
        padding: 0;
        margin: 0;
        font-weight: 800;
        position: relative;
    }
    @media (max-width:1080px){
        font-size: 7.5rem;
        img{
            height: 20rem;
        }
    }
    @media (max-width:920px){
        font-size: 6rem;
        img{
            height: 15rem;
        }
    }
    @media (max-width:430px){
        font-size: 4.5rem;
        img{
            height: 12rem;
        }
    }
}